@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-width: 25vw;
  --card-height: 25vh;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
  --circle-height: 18vw;
  --circle-width: 18vw;
}

body {
  background-color: white;
  overflow-x: hidden;
}

#navbar{
  height: 5vh;
  width: 70vw;
  background: none;
  position: absolute;
  left: 15vw;
  right: 15vw;
  margin-top: 1.5rem;
  z-index: 1;
}

#navbar.sticky{
  position: fixed;
  z-index: 20;
  background: linear-gradient(to right, #434343, #000000);
  width: 100vw;
  left: 0;
  right: 0;
  padding: 0 15vw;
  margin-top: 0;
  opacity: 0.8;
}

#navbar .navEl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.navEl .navElContainer{
  width: 15%;
  height: 100%;
  padding-top: 10px;
}

.navElContainer .navText{
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  color: #d3e0ea;
  cursor: pointer;
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
}
.navElContainer .navText::after{
  content: "";
  width: 0%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #e84545;   */
  background-size: 100%;
  border-radius: 5px;
  border-bottom: 3px solid #f2a154;
  border-width: 0%;
  transition: linear 0.3s;
}
.navEl .navText:hover{
  color: #f2a154;
}
.navEl .navText:hover::after {
  width: 100%;
  transform-origin: center;
}

@media screen and (max-width: 1025px){
  #navbar{
    display: none;
  }
}
/* ----------------- */

#navbar-hamburger{
  position: absolute;
  height: 5vh;
  width: 100vw;
  position: fixed;
  z-index: 5;
  display: none;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;
}
#navbar-hamburger .hambug{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 13%;
  left: 90%;
  margin-right: 15px;
  justify-content: space-evenly;
  align-items: center;
}
#navbar-hamburger .hambug .hamslice{
  height: 3px;
  width: 60%;
  background-color: #8ab6d6;
  border-radius: 30px;
  /* opacity: 0.9; */
  transition: 0.1s ease;
}
#navbar-hamburger .change .hamslice{
  background-color: #2b4f60;
  position: absolute;
  width: 9%;
}
.change #hamslice1{
  transform: translateY(25%) rotateZ(-45deg);
  opacity: 0.8;
}
.change #hamslice2{
  transform: translateX(25px);
  opacity: 0;
}
.change #hamslice3{
  transform: translateY(-25%) rotateZ(45deg);
  opacity: 0.8;
}
@media screen and (max-width:1025px){
  #navbar-hamburger{
    display: flex;
  }
}
/* ----------------- */
#hambug-bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: none;
  z-index: -1;
  display: none;
}

#hambug-bg .hambg{
  position: relative;
  left: 100%;
  top: 0;
  height: 1vh;
  width: 1vw;
  border-radius: 50%;
  transform-origin: center;
  background: linear-gradient(to right, #e6dada, #274046);
  z-index: 3;
  opacity: 0.95;
  transition: 1.2s;
}

#hambug-bg .change{
  transform: scale(300);
}
#hambug-bg.change{
  z-index: 2;
}

@media screen and (max-width: 1025px){
  #hambug-bg{
    display: flex;
    flex-direction: column;
  }
}
#hambug-bg .hamItems{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  width: 100vw;
  z-index: 6;
  left: 100%;
  transition: 1s;
}
#hambug-bg .hamItems .hamItem{
  text-align: center;
  color: #2b4f60;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  cursor: pointer;
}
#hambug-bg .itemChange{
  left: 0;
}

/* --------------------- */
header {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252839;
}

header .main-image {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  transition: transform 20s;
  filter: brightness(60%);
}

header .main-image:hover {
  transform: scale(1.15);
}

header .main-image::before {
  content: "";
  position: absolute;
  background-image: url("./portfolio.jpg");
  height: 210vh;
  width: 100%;
  opacity: 0.5;
  bottom: 0vh;
  background-size: cover;
  filter: blur(7px);
}

header .circle {
  position: absolute;
  height: var(--circle-height);
  width: var(--circle-width);
  background: -webkit-gradient(linear, left top, left bottom, from(#274046), to(#e6dada));
  background: linear-gradient(from left top to left bottom, #274046 , #e6dada);
  border-radius: 50%;
  margin-bottom: 20vh;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header .circle:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

header .circle::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background-image: url("./profile.jpg");
  background-color: black;
  background-size: 100%;
  border-radius: 50%;
}

header .circle span {
  position: absolute;
  height: var(--circle-height);
  width: var(--circle-width);
  
  background: -webkit-gradient(linear, left top, left bottom, from(#274046), to(#e6dada));
  background: linear-gradient(from left top to left bottom, #274046 , #e6dada);
  border-radius: 50%;
  margin-bottom: 20vh;
}

header .circle span:nth-child(1) {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

header .circle span:nth-child(2) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

header .circle span:nth-child(3) {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

@media screen and (max-width: 1025px){
  header .circle{
    height: calc(var(--circle-height) + 8vh);
    width: calc(var(--circle-width) + 17vw);
    margin-bottom: 35vh;
  }
  header .circle span{
    height: calc(var(--circle-height) + 8vh);
    width: calc(var(--circle-width) + 17vw);
  }
}

header h2 {
  position: absolute;
  top: 60vh;
  font-family: 'poppins', sans-serif;
  font-size: 3vw;
  color: #252839;
  -webkit-text-stroke: 0.1rem #bdc7c9;
  font-weight: bold;
}

header h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  color: #d8e3e7;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #faf4f4;
  overflow: hidden;
  animation: animate 7s linear infinite;
}

@-webkit-keyframes animate {
  0%, 10%, 100% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}

@media screen and (max-width: 1025px){
  header h2{
    font-size: 7vw;
  }
}

header .header-area {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 70vh;
  width: 100vw;
}

header .header-area h3 {
  position: absolute;
  top: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 3vw;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header .header-area h3 span {
  color: #d3e0ea;
  font-family: 'New Tegomin', serif;
}
@media screen and (max-width: 1025px){
  header .header-area h3{
    font-size: 1.3rem;
  }
}

#section1 {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(#434343), to(#000000));
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  align-items: center;
  overflow: hidden;

}


#section1 .about {
  height: 100vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 .about .display-picture {
  height: 60vh;
  width: 30vw;
  -webkit-box-shadow: #c9c6c6 5px 5px 10px;
          box-shadow: #c9c6c6 5px 5px 10px;
  overflow: hidden;
  background-size: cover;
  background-image: url("./document3.jpeg");
}

#section1 .about .about-head {
  color: #d7d2cc;
  margin-bottom: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

#section1 .about .about-subhead {
  color: #d7d2cc;
  margin-bottom: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 1025px){
  #section1{
    display: flex;
    flex-direction: column;
    height: 130vh;
  }
  #section1 .about{
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #section1 .about .display-picture{
    width: 50vw;
  }
  #section1 .about .about-head{
    padding-top: 50px;
    margin-top: 0;
  }
}

#section1 .description {
  height: 100vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          /* align-items: center; */
}


#section1 .description .description-name {
  padding: 2rem 0 4rem 0;
}

#section1 .description .description-name h2 {
  color: #e84545;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-family: 'Ubuntu', sans-serif;
}

#section1 .description .description-name h4 {
  color: #b4a5a5;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

#section1 .description .description-text p {
  color: #dddddd;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#section1 .description hr {
  color: #dddddd;
  width: 100%;
}

#section1 .description .download-btn {
  margin-top: 2rem;
  width: 30vw;
  height: 3.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

#section1 .description .download-btn .resume-btn {
  border: 1px solid #e84545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  height: 100%;
  width: 45%;
  text-align: center;
  color: #dddddd;
  font-family: 'Ubuntu', sans-serif;
  font-size: medium;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 .description .download-btn .resume-btn:hover {
  background-color: #e84545;
  cursor: pointer;
}

@media only screen and (max-width: 1025px){
  #section1 .description{
    height: 60%;
    width: 100%;
    padding-left: 20px ;
    padding-right: 20px;
    margin-top: 1rem;
    align-items: center;
  }
  #section1 .description .description-name {
    padding-bottom: 2rem;
  }
  #section1 .description .description-name h2{
    font-size: 2rem;
    text-align: center;
  }
  #section1 .description .description-name h4{
    font-size: 1rem;
    text-align: center;
  }
  #section1 .description .description-text p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  #section1 .description .download-btn {
    width: 80%;
    height: 4.5vh;
    justify-content: center;
  }
  #section1 .description .download-btn .resume-btn {
    font-size: small;
  }
  
}


/*# sourceMappingURL=style.css.map */

#section2{
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 160vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(to right, #434343, #000000);
  overflow: hidden;
}
.projects--heading1{
  color: #dddddd;
  font-size: 170%;
  padding-bottom: 1rem;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  top: 20vh;
}
.projects--heading2{
  color: #dddddd;
  font-size: 160%;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  margin-bottom: 5vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -10%;
}
.cardList__btn.btn--right {
  right: -10%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
  color: rgb(172, 30, 30);
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
  cursor: pointer;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.info {
  margin-bottom: calc(var(--card-height) / 10);
  margin-left: calc(var(--card-width) / 1.2);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: 1.5rem;
  white-space: nowrap;
  color: #dbebff;
  width: fit-content;
  text-shadow: 2px 2px 15px #030303;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #f9813a;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info__wrapper .current--info {
  opacity: 1;
  display: block;
}
.info__wrapper .previous--info, .info__wrapper .next--info {
  opacity: 0;
  display: none;
}

@media only screen and (max-width: 1025px) {
  :root {
    --card-width: 45vw;
    --card-height: 30vh;
  }

  .info .text{
    font-size: 1rem;
  }

  .cardList__btn.btn--left {
    left: 15%;
  }
  .cardList__btn.btn--right {
    right: 15%;
  }

  .projects--heading1 , .projects--heading2{
    font-size: 1.5rem;
  }
}
/* Swiper section */

.app2 {
  position: relative;
  height: 50vh;
  width: 50vw;
  background: rgb(0, 0, 0);
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-size: cover;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(0, 0, 0);
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width:1025px){
  .app2{
    width: 90vw;
    height: 30vh;
  }
}
/* Section 3 */

#section3{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 360vh;
  justify-content: space-evenly;
}
#section3 h1{
  color: #dddddd;
  font-size: 190%;
  padding-top: 5vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  top: 20vh;
}

.logos{
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.logos_row{
  /* background-color: #c9c6c6; */
  height: 100%;
  width: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logos_item{
  height: 15%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos_item img{
  width: 60%;
  height: 70%;
}
.logos_item span{
  height: 20%;
  color: #b4a5a5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 1000;
  width: 100%;
  text-overflow: clip;
  text-align: center;
  padding-top: 7px;
}
@media screen and (max-width:1025px){
  #section3 h1{
    font-size: 150%;
  }
  .logos_row{
    width: 15vw;
  }
}

/* contact section4 */

#section4{
  position: absolute;
  top: 460vh;
  /* padding: 50px 100px; */
  min-height: 120vh;
  width: 100vw;
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

#section4 .content{
  max-width: 800px;
  text-align: center;
  margin-bottom: 10rem;
}
#section4 .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
#section4 .content p{
  font-weight: 300;
  color: #fff;
}

#section4 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5vh;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}

.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  font-weight: 500;
  color: #333;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  
}
@media screen and (max-width: 1025px){
  #section4{
    padding: 50px;
  }
  #section4 .content{
    margin-bottom: 2rem;
  }
  #section4 .content h2{
    font-size: 28px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
    width: 100%;
  }
  .contactForm{
    width: 100%;
  }
}

/*  Footer Section  */
footer{
  height: 20vh;
  width: 100vw;
  background: linear-gradient(to right, #434343, #000000);
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #e8eae6;
  /* padding-top: 15vh; */
}
footer h4{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 90%;
}
.social{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 25px;
}
.social .social-logo{
  cursor: pointer;
  color: #e8eae6;
  transition: 0.5s;
}
.social .social-logo:hover{
  color: #f9813a;
  transform: scale(1.3);
}
/* @media screen and (max-width:800px){
  footer{
    top: 570vh;
  }
} */